* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.hide {
    visibility: hidden;
}

.trivia-container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
}

.add-trivia-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #739589;
    color: black;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.add-trivia-button:hover {
    transform: scale(1.2);
}

.users-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
}

.question-container {
    display: none;
}

.err-answer{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.error-register{
    color: red;
    font-weight: bold;
    font-style: italic;
}

#jokeModal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#jokeContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


