<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Activate</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="home :: header"></div>
<div class="activate-account">
    <div th:if="${failed}">
        <p>
            Activation failed, a new activation code was generated and sent to <span th:text="${activationDto.email} ?: 'your email.'"/>
            <br/>
            <br/>
            Please try again with the new generated code.
        </p>
    </div>

    <div th:if="${activating}">
        <p>
            Account is not yet activated.
            <br/>
            <br/>
            Please activate using the code that was sent to <span th:text="${activationDto.email} ?: 'your email.'"/>
            <br/>
            <br/>
            Or click the button bellow to generate a new activation code.
        </p>
    </div>

    <div th:if="${firstActivation}">
        <p>
            An email was sent to <span th:text="${activationDto.email}"/> with a new activation code.
            Please activate your account using the code.
        </p>
    </div>

    <form method="post" th:action="@{/activate}" th:object="${activationDto}">
        <div class="activation-form">
            <input th:field="*{email}" th:value="${activationDto.email}" type="hidden"/>
            <input id="code" placeholder="Activation Code" th:field="*{code}"/>
            <p th:errorclass="error-register" th:errors="*{code}" th:if="${#fields.hasErrors('code')}"></p>
            <input class="activate-btn" type="submit" value="Activate"/>
        </div>
    </form>

    <div>
        <p class="generate-code hide">Code generated and sent to <span th:text="${activationDto.email}"/>
            <br/>
            <br>
            <span class="generate-code-timer">Generate Again In: </span>
        </p>
    </div>
    <button class="activate-btn" id="generate-button" onclick="generateActivationCode(this)" th:data-email="${activationDto.email}" type="button">
        Generate code
    </button>
</div>

<div th:replace="home::jokeModal"></div>

<script th:src="@{/js/script.js}" type="text/javascript"></script>
</body>
</html>