<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header" th:fragment="header">
    <div class="header-title">
        <h1>Trivia</h1>
    </div>
    <div class="header-buttons">
        <button class="home-btn" th:onclick="'window.location.href = \'' + @{/home} + '\''">Home</button>
        <button class="joke-btn" onclick="fetchJoke()">Joke</button>
        <button class="trivia-btn" sec:authorize="isAuthenticated()" th:onclick="'window.location.href = \'' + @{/trivia} + '\''">Trivia</button>
        <button class="users-btn" sec:authorize="hasRole('ADMIN')" th:onclick="'window.location.href = \'' + @{/users} + '\''">Users</button>
        <button class="logout-btn" sec:authorize="isAuthenticated()" type="submit" form="logout-form">Logout</button>
        <form class="hidden" id="logout-form" method="post" th:action="@{/logout}"></form>
    </div>
    <div class="menu-burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
    </div>
</div>
<div class="home-container">
    <div class="home-auth-quiz">

        <div class="home-authentication"  id="authentication" sec:authorize="!isAuthenticated()">
            <div th:if="${registrationError}">Could not complete registration due to error. Please try again</div>
            <a class="login-btn" th:href="@{/login}">
                <button>Log In</button>
            </a>
            <a class="register-btn" th:href="@{/register}">
                <button>New User?</button>
            </a>
        </div>

        <div class="home-quiz" id="quiz" sec:authorize="isAuthenticated()">
            <div class="start-quiz" th:if="${!startedQuiz}">
                <form method="post" onsubmit="return startQuiz(this);" th:action="@{/quiz}" th:object="${quiz}">
                    <div class="quiz-difficulty">
                        <label for="difficulty">Difficulty:</label>
                        <select id="difficulty" th:field="*{difficulty}">
                            <option th:each="difficulty : ${T(ro.alex.trivia.model.TriviaDifficulty).values()}"
                                    th:text="${difficulty}" th:value="${difficulty}"></option>
                        </select>
                    </div>
                    <div class="quiz-category">
                        <label>Categories:</label>
                        <div th:each="category : ${T(ro.alex.trivia.model.TriviaCategory).values()}">
                            <input th:field="*{categories}" th:value="${category}" type="checkbox"/>
                            <span th:text="${category}"></span>
                        </div>
                        <p class="err-answer hidden">Please select at least one category</p>
                    </div>
                    <div class="start-quiz-button">
                        <button class="start-quiz-btn" type="submit">Start QUIZ</button>
                    </div>

                </form>
            </div>
            <div class="started-quiz" th:if="${startedQuiz}">
                <a class="continue-quiz-btn" th:href="@{/quiz}">
                    <button>Continue Quiz</button>
                </a>
            </div>
        </div>
    </div>
        <div class="home-leaderboard" id="leaderboard">
            <h2 class="home-leaderboard-title">Leaderboard</h2>
            <div class="yes-leaderboard" th:each="lb, iter: ${leaderboard}" th:if="${!leaderboard.isEmpty()}">
                <img id="avatar"  alt="user avatar" th:src="@{${lb.avatar}}"/>
                <span id="displayName" th:text="${lb.displayName}"/>
                <span id="score" th:text="${lb.score}"/>
                <img class="trophy" alt="first place medal" th:if="${iter.index == 0}" th:src="@{/trophy/one.png}"/>
                <img class="trophy" alt="second place medal" th:if="${iter.index == 1}" th:src="@{/trophy/two.png}"/>
                <img class="trophy" alt="third place medal" th:if="${iter.index == 2}" th:src="@{/trophy/three.png}"/>
                <div class="trophy" th:if="${iter.index > 2}"></div>
            </div>
            <div class="no-leaderboard" th:if="${leaderboard.isEmpty()}">
                <span>Waiting for someone to solve a quiz &#x263A;</span>
            </div>
        </div>

        <div class="category-description" sec:authorize="isAuthenticated()">
            <h2 class="category-description-title">Trivia categories</h2>
            <ul class="category-accordion" th:each="category, iteration : ${T(ro.alex.trivia.model.TriviaCategory).values()}">
                <li>
                    <input name="accordion-input" th:id="${category}" type="radio" th:checked="${iteration.index==0}">
                    <label th:for="${category}" th:text="${category}"></label>
                    <div class="category-content">
                        <p th:text="${category.description}"/>
                    </div>
                </li>
            </ul>
        </div>

        <div class="hidden" id="jokeModal">
            <div id="jokeContent">
                <p id="jokeText"></p>
            </div>
        </div>

</div>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
</body>
</html>