<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Log In</title>
</head>
<body>
<div id="log-in">
    <div th:if="${error}">
        error
    </div>
    <div th:if="${userLocked}">
        <div>
            <p>Account disabled. Reason: <span th:text="${reason}"></span></p>
            <p>For mor information please contact platform administrator on admin@trivia.ro</p>
        </div>
    </div>
    <div th:if="${badCredentials}">
        badCredentials
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div th:if="${changed}">
        Password changed.
    </div>
    <div th:if="${activated}">
        Account activate successfully.
    </div>
    <form method="post" th:action="@{/login}">
        <div><label> User Name : <input name="username" type="text"/> </label></div>
        <div><label> Password: <input name="password" type="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <a th:href="@{/register}">
        <button>Register</button>
    </a>
</div>
</body>
</html>