<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
<h1 th:if="${compromised}">Your password has been compromised, please change it.</h1>
<div>
    <h1>Change Password</h1>
    <form method="post" action="/password" th:object="${changePasswordDto}">

        <div>
            <label for="email">Email</label>
            <div>
                <input th:field="*{email}" id="email" placeholder="Email" />
                <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
            </div>
        </div>

        <div>
            <label for="oldPassword">Old Password</label>
            <div>
                <input th:field="*{oldPassword}" id="oldPassword" placeholder="Old Password" />
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="error" th:errors="*{oldPassword}"></p>
            </div>
        </div>

        <div>
            <label for="newPassword">New Password</label>
            <div>
                <input th:field="*{newPassword}" id="newPassword" placeholder="New Password" />
                <p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="error" th:errors="*{newPassword}"></p>
            </div>
        </div>
        <div>
            <div>
                <button type="submit">Register</button>
            </div>
            <div>
                <a th:href="@{/home}">Cancel</a>
            </div>
        </div>

    </form>

</div>
</body>
</html>