<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="trivia-container">
    <div class="trivia-cell"><h4>Question</h4></div>
    <div class="trivia-cell"><h4>Answers</h4></div>
    <div class="trivia-cell"><h4>Correct Answer</h4></div>
    <div class="trivia-cell"><h4>Category</h4></div>
    <div class="trivia-cell"><h4>Difficulty</h4></div>
    <div class="trivia-cell"><h4>Actions</h4></div>
</div>
<div th:each="q: ${questions}" class="trivia-container"
     th:data-id="${q.id}"
     th:data-question="${q.question}"
     th:data-answers="${q.answers}"
     th:data-correct-answer="${q.correctAnswer}"
     th:data-category="${q.category}"
     th:data-difficulty="${q.difficulty}">
    <div class="trivia-cell"><span class="question" th:text="${q.question}"></span></div>
    <div class="trivia-cell"><span class="answers" th:text="${q.answers}"></span></div>
    <div class="trivia-cell"><span class="correctAnswers" th:text="${q.correctAnswer}"></span></div>
    <div class="trivia-cell"><span class="category" th:text="${q.category}"></span></div>
    <div class="trivia-cell"><span class="difficulty" th:text="${q.difficulty}"></span></div>
    <div class="trivia-cell">
        <button class="edit-button" onclick="toggleEditMode(this)">Edit</button>
        <button class="delete-button" onclick="deleteTrivia(this)">Delete</button>
        <button class="save-button hidden" onclick="saveTrivia(this)">Save</button>
        <button class="cancel-button hidden" onclick="cancelEdit(this)">Cancel</button>
    </div>
</div>
<button th:data-categories="${categories}" th:data-difficulties="${difficulties}" class="add-trivia-button" onclick="addNewTriviaEntry()">+</button>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>